.container {
    width: 800px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}

p {
    color: #707070;
}

li {
    color: #707070;
    padding-top: 5px;
    padding-bottom: 5px;
}

header {
    text-align: center;
}

h1 {
    color: #DB0038;
}

h2 {
    color: #3998A3;
}

h3 {
    color: #474747;
}

.hero {
    background-color: #f4f4f4;
    text-align: center;
    text-shadow: 5px 0px 6px #aaaaaa;
    padding-left: 50px;
    padding-right: 50px;
}
.rating {
    text-align: center;

}
.rating span {
    color: #F4B400;
    font-size: 25px;
}

footer {
    text-align: center;
}

body {
font-family: "Happy Monkey";
}